@font-face {
  font-family: "quiksand";
  src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf),
    url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
body {
  font-family: "quiksand", sans-serif !important;
}
.pleca{
  min-width: 16px;
  background: #0000008c;
  color: white;
  border-radius: 10px;
}
.font-ubication {
  background-color: #515e63;
}
.ubication-subtitle {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color:white;
  text-align: right;
}
.ubication-subtitle {
  margin-top: 15%;
  margin-left: 5%;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
}
.ubication-title {
  text-align: center;
  font-size: 6vw;
  margin-top: -2vw;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  text-align: right;
}
.ubication-hero {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #c9d8b6;
}
.ubication-backg {
}
.ubication-icon {
  color: #515e63;
}
@media screen and (max-width: 768px) {
  .ubication-title {
    font-size: 16vw;
    margin-top: -6vw;
    text-transform: uppercase;
    font-weight: 900;
  }

  .ubication-subtitle {
    margin-top: -12%;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 500;
  }
  .card {
    margin-right: 10%;
    margin-left: 10%;
  }
}
